<%%DOM%%>
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href = "/web/style.css" />
		<meta name="description" content="Website for small games">
		<meta name="author" content="Jayven"> 
		<title>Jayven Games</title>
		<meta charset="UTF-8">
		<meta name="keywords" content="Games, Jayven, webGL, Beaker">
		<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="icon" href="/web/Iconx16.ico" type="image/gif" sizes="16x16">
		<link rel="icon" href="/web/Iconx32.ico" type="image/gif" sizes="32x32">
		<link rel="icon" href="/web/Iconx64.ico" type="image/gif" sizes="64x64">
		<link rel="icon" href="/web/Iconx256.ico" type="image/gif" sizes="256x256">
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<%head%>
	</head>
	<body>
		<nav class="header">
			<div class="centerContent">
				<img class="logo" src="/web/logo.png"/>
			</div>
			<div class="centercontent">
				<ul class="navigation">
					<%navigation%>
				</ul>
			</div>
			<div class="centercontent">
				<ul class="AccountManagement">
					<li id="login">
						Login
						<ul>
							<li>
								Username:
								<input type="text" id="loginusername">
							</li>
							<li>
								Password:
								<input type="password" id="loginpass">
							</li>
							<div>
								<div onClick="login()">
									Login
								</div>
								<div onClick="openNewAccountManagement()">
									New User
								</div>
							</div>
						</ul>
					</li>
					<li id="new">
						Create Account
						<ul>
							<li>
								Username:
								<input type="text" id="newusername">
							</li>
							<li>
								Password:
								<input type="password" id="newpass">
							</li>
							<li>
								Confirm Password:
								<input type="password" id="confirmnewpass">
							</li>
							<li>
								Email:
								<input type="text" id="newemail">
							</li>
							<div>
								<div onClick="createAccnt()">
									Create Account
								</div>
							</div>
						</ul>
					</li>
					<li id="alter">
						<div id="nameSpot"></div>
						<ul>
							<!-- <div>
								<div>
									Change Pass
								</div>
							</div>
							<div>
								<div>
									Change Email
								</div>
							</div>
							<div>
								<div>
									Change Name
								</div>
							</div> -->
							<div onClick="logout()">
								<div>
									Logout
								</div>
							</div>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<%body%>
	</body>
	<script type="text/javascript">
		setInterval(function(){
                	var pingAlive =	new XMLHttpRequest();
			pingAlive.open('GET', "/ping", true)
			pingAlive.send();
		}, 60000);

		function login(){
			var login = new XMLHttpRequest();
			login.open("POST", "login", true);
			login.setRequestHeader("username", document.getElementById('loginusername').value);
			login.setRequestHeader("password", document.getElementById('loginpass').value);

			login.onload = function(e){
				console.log(login.responseText);
				if (login.responseText == 'true'){
					refreshAccountManagement();
				}
				else{
					alert("User not found");
				}
			}

			login.send();
		}

		function createAccnt(){
			if(document.getElementById('newpass').value == document.getElementById('confirmnewpass').value){
				var createAccnt = new XMLHttpRequest();
				createAccnt.open("POST", "createprofile", true);
				createAccnt.setRequestHeader("newusername", document.getElementById('newusername').value);
				createAccnt.setRequestHeader("newpassword", document.getElementById('newpass').value);
				createAccnt.setRequestHeader("newemail", document.getElementById('newemail').value);

				createAccnt.onload = function(e){
					if (createAccnt.responseText === 'Success'){
						document.getElementById('loginusername').value = document.getElementById('newusername').value;
						document.getElementById('loginpass').value = document.getElementById('newpass').value;
						login();
						refreshAccountManagement();
					}
					else{
						alert(createAccnt.responseText);
					}
				}
				createAccnt.send();
			}
			else{
				alert("Passwords don't match");
			}
		}

		function readCookie(a) {
			var b = document.cookie.match('(^|;)\\s*' + a + '\\s*=\\s*([^;]+)');
			return b ? b.pop() : '';
		}
		function deleteCookie( name ) {
			document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
		}

		function refreshAccountManagement(){
			document.getElementById("login").style.display = "none";
			document.getElementById("alter").style.display = "none";
			document.getElementById("new").style.display = "none";

			if (readCookie('username')){
				document.getElementById("alter").style.display = "flex";
				document.getElementById("nameSpot").innerHTML = decodeURIComponent(readCookie('username'));
				
			}
			else{
				document.getElementById("login").style.display = "flex"
			}
		}
		function openNewAccountManagement(){
			deleteCookie('sessionid');
			deleteCookie('username');
			document.getElementById("login").style.display = "none";
			document.getElementById("alter").style.display = "none";
			document.getElementById("new").style.display = "flex";
		}

		//Allow enter for submit login
		document.getElementById("login").addEventListener("keyup", function(event){
			event.preventDefault();
			if(event.keyCode === 13){
				login();
			}
		})

		//Allow enter for create new login
		document.getElementById("new").addEventListener("keyup", function(event){
			event.preventDefault();
			if(event.keyCode === 13){
				createAccnt();
			}
		})

		function logout(){
			deleteCookie('sessionid');
			deleteCookie('username');
			location.reload(true);
		}

		refreshAccountManagement();

		<%JavaScript%>
	</script>
</html>
