<%%head%%>
<title><%pagetitle%></title>
<script src="<%gamesrc%>"></script>
<script>
		var gameInstance = UnityLoader.instantiate("gameContainer", "<%unityLoader%>");
</script>

<%%body%%>
<div class="centercontent">
	<div id="gameContainer" class="centercontent" style="width: 100%; height: 100%"/>
</div>

<%%JavaScript%%>
window.addEventListener('resize', resizeCanvas, false)

var y=<%resy%>,x=<%resx%>

function resizeCanvas() {
	canvas=document.getElementById('#canvas')
	canvas.height=Math.min(document.getElementById('gameContainer').offsetWidth*y/x, window.innerHeight * .9)
	canvas.width=canvas.height*x/y
}

function checkCanvas(){
	canvas = document.getElementById('#canvas')
	if (canvas){
		resizeCanvas()
		canvas.setAttribute("tabindex", "1")
		canvas.focus()
		forceCanvas()
	}
	else{setTimeout(checkCanvas, 100)}
}

function forceCanvas(){
	canvas=document.getElementById('#canvas')
	container=document.getElementById('gameContainer')
	if (window.innerHeight*.9 < container.offsetWidth*y/x){
		if (canvas.height > container.offsetWidth*y/x){
			resizeCanvas();
		}
		else{
			setTimeout(forceCanvas, 100);
		}
	}
}

checkCanvas();