:root {
  --background: #000000;
  --green-1: #00ff00;
  --green-2: #75ff75;
  --green-3: #bbffbb;

  --red-1: #ff0000;
  --red-2: #ff4e4e;
  --red-3: #ffbbbb;

  --blue-1: #0000ff;
  --blue-2: #7575ff;
  --blue-3: #bbbbff;
}
/* Tiny-Mobile */
@media all and (max-width: 450px){
  body {
    margin: 0px;
  }
  .games table{
    margin: 4px;
    width: 128px;
    height: 160px;
  }
  .logo {
    display: none;
  }
}
/* Narrow */
@media all and (min-width: 450px){
  body {
    margin: 10px ;
  }
  .games table{
    margin: 4px;
    width: 128px;
    height: 160px;
  }
}
/* Wide */
@media all and (min-width: 900px){
  body {
    margin: 0px 20%;
  }
  .games table{
    margin: 4px;
    width: 128px;
    height: 160px;
  }
}

/* All */
body {
  background-color: var(--background);
}
a {
  text-decoration: none;
  color: #000000;
}
img{
  max-height: 100%;
  max-width: 100%;
}
.logo {
  width: auto;
  height: 48px;
  padding: 0px 10px;
}
.header {
  width: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;
  height: auto;
  align-items: center;
  flex-basis: 100%;
}
.centercontent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.games{
  display: flex;
  flex-wrap: wrap;
}

.games table tr:nth-child(1){
  height: 32px;
  width: 128px;
  padding: 0px;
  display: block;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  line-height: 100%;
}
.games table tr:nth-child(1) td{
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
}/* Games Table*/

/*#region*/
table.blue {
  background-color: var(--background);
  text-align: center;
  border-radius: 5px;
  border: 2px solid var(--blue-1);
}
table.blue tr:first-child {
  font-weight: bold;
}
table.blue tr:nth-child(odd) {
  background-color: var(--blue-1);
}
table.blue tr:nth-child(even) {
  background-color: var(--blue-3);
}
table.blue td:hover {
  background-color: var(--blue-2);
}
table.blue td{
  border-radius: 5px;
}/*Table Blue*/
table.green {
  background-color: var(--background);
	text-align: center;
	border-radius: 5px;
	border: 2px solid var(--green-1);
}
table.green tr:first-child {
	font-weight: bold;
}
table.green tr:nth-child(odd) {
	background-color: var(--green-1);
}
table.green tr:nth-child(even) {
	background-color: var(--green-3);
}
table.green td:hover {
	background-color: var(--green-2);
}
table.green td{
	border-radius: 5px;
}/* Table Green*/
table.red {
  background-color: var(--background);
  text-align: center;
  border-radius: 5px;
  border: 2px solid var(--red-1);
}
table.red tr:first-child {
  font-weight: bold;
}
table.red tr:nth-child(odd) {
  background-color: var(--red-1);
}
table.red tr:nth-child(even) {
  background-color: var(--red-3);
}
table.red td:hover {
  background-color: var(--red-2);
}
table.red td{
  border-radius: 5px;
}/* Table Red*/
/*#endregion*/
ul.navigation {
  z-index: 1;
  display: flex;
  width: auto;
  margin: 0px;
  flex-wrap: wrap;
  justify-content: center;
  font-family: helvetica, arial, serif;
  border-radius: 500px;
  border: 2px solid black;
  font-size: 13px;
  padding: 2px 20px;
  text-transform: uppercase;
  list-style-type:none;
  text-decoration: none;
  background: var(--green-3);
}
ul.navigation li {
  width: auto;
  padding: 10px;
  margin: 0px 2px;
  border-radius:5px;
  border:2px solid black;
  background:var(--green-1);
  float: left;
}
ul.navigation li li {
  margin: 2px 0px 2px -38px;
  background: var(--green-3);
  width: 110%;
  clear: both;
  text-align: center;
}
ul.navigation a{
  text-decoration: none;
  color: #000000;
}
ul.navigation ul {
  display:none;
}
ul.navigation li:hover ul{
  list-style-type:none;
  background: var(--green-2);
  border: 2px solid black;
  border-radius: 5px;
  display: block;
  float: left;
  width: 15%;
  margin-top: 10px;
  position: absolute; 
}
ul.navigation li li:hover {
  margin-left: -20px;
}
ul.navigation li:hover > a{
  font-weight: bold;
}/* Menu*/
article{
  display: flex;
  padding: 3em;
  margin: 20px;
  background-color: var(--green-3);
  border: 2px solid var(--black);
  border-radius: 5px;
  text-align: right;
}

/*#region AccountManagement*/
ul.AccountManagement {
  z-index: 1;
  display: flex;
  width: auto;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap;
  justify-content: center;
  font-family: helvetica, arial, serif;
  font-size: 13px;
  list-style-type:none;
  text-decoration: none;
}
ul.AccountManagement li {
  display: none;
  width: auto;
  padding: 10px;
  margin: 2px 2px;
  border-radius: 10px;
  background:var(--red-1);
  flex-direction: row;
}
ul.AccountManagement li ul {
  display:none;
}
ul.AccountManagement li:hover ul{
  list-style-type:none;
  background: var(--red-2);
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: absolute;
}
ul.AccountManagement li ul li {
  margin: 2px 2px 2px -38px;
  background: var(--red-3);
  text-align: center;
  display: flex;
  justify-content: space-between;
}
ul.AccountManagement li ul li input{
  margin-top: -3px;
  width: 100px;
}
ul.AccountManagement li ul div {
  margin: 2px 2px 2px -19px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
ul.AccountManagement li ul div div{
  background: var(--red-3);
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
}

ul.AccountManagement li:hover > a{
  font-weight: bold;
}
/*#endregion AccountManagement*/
